---
description: Some Payy services require identity verification (KYC)
---

# Identity verification

