---
description: Some Payy services require identity verification (KYC).
---

# Identity verification

Identity verification is an optional step users can take to enable regulated financial services such as fiat bank transfers and payment cards. It is not required to use [Broken link](broken-reference "mention") for crypto deposits/withdrawls or stablecoin payments.

You verify your identity by submitting information like your legal name, birthdate, address and ID photo. This data is stored and processed according to our [Privacy Policy](https://payy.link/privacy).

It is cryptographically impossible to link your data to your [Broken link](broken-reference "mention") activity because Payy Wallet doesn't expose your balance, transaction amounts or [#payy-address](addresses.md#payy-address "mention") to the network.

